.localisation {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: darken($colour-background, 5%);
    &__icon {
        padding-right: 15px;
        transform: translateX(25px);
    }
    &__input {
        font-weight: 500;
        font-size: 1em;
        border: none;
        background: darken($colour-background, 5%);
        transform: translateX(25px);
    }
}

.abstract {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__title {
        font-size: 1.45em;
        margin: 40px 15% 0 15%;
        font-weight: 700;
    }
    &__text {
        font-size: 1.1em;
        margin: 10px 5% 30px 5%;
        font-weight: 300;
    }
    &__button {
        margin-bottom: 55px;
    }
}

.operation {
    background-color: white;
    padding-left: 5.3%;
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;
    &__title {
        font-size: 1.45em;
        padding-top: 28px;
        padding-bottom: 10px;
        width: 100%;
    }
    &__button {
        height: 75px;
        width: 92%;
        background: $colour-background;
        border-radius: 20px;
        margin-bottom: 25px;
        margin-left: 15px;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        &__number {
            transform: translateX(-15px);
            border-radius: 50%;
            background-color: $colour-primary;
            color: white;
            width: 25px;
            height: 21px;
            text-align: center;
            padding-top: 4px;
            font-size: 0.9em;
        }
        &__icon {
            width: 25px;
            font-size: 1.2em;
            color: darken($colour-background, 45%);
            z-index: 1;
            &--hover {
                width: 25px;
                color: $colour-primary;
                font-size: 1.2em;
                z-index: 1;
                transform: translateX(-99%);
                opacity: 0;
            }
        }
        &__text {
            font-weight: 500;
        }
        &::after {
            @include pseudo-elmt;
            background: lighten($colour-primary, 35%);
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
            border-radius: 20px;
        } 
        &:hover {
            &::after {
                opacity: 1;
            }
            .operation__button__icon--hover {
                opacity: 1;
            }
            
        }
        @media all and (min-width: 992px) {
            width: 30%;
            margin-bottom: 50px;
        }

    }
    @media all and (min-width: 992px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-right: 5%;
    }
}

.restaurants {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 5.3%;
    padding-bottom: 20px;
    &__title {
        margin-top: 60px;
        width: 100%;
    }
    @media all and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        padding-right: 5%;
    }

}

.card {
    height: 250px;
    width: 94%;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    &__img {
        height: 170px;
        object-fit: cover;
        flex-shrink: 0;
    }
    &__body {
        background: white;
        height: 75px;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 15px;
        z-index: 0;
        &__title {
            margin: 18px 0 0 0;
        }
        &__text {
            margin: 3px 0;
            font-size: 1em;
            font-weight: 300;
        }
        &__favorite {
            font-size: 1.6em;
            position: absolute;
            top: 35%;
            left: 85%;
            display: flex;
            &--hover {
                @include heart-hover
            }
        
            &:hover, &:focus {
                .card__body__favorite--hover {
                    opacity: 1;
                }
            }
        }
    }
    &__new {
        position: absolute;
        top: 5.6%;
        left: 72%;
        height: 12%;
        width: 23%;
        background-color: $colour-tertiary;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        &__text {
            color: darken($colour-tertiary, 40%);
            font-weight: 500;
            font-size: 0.85em;
        }
    }
    @media all and (min-width: 768px) {
        width: 45%;
    }
}



