
.menu {
    width: 97%;
    height: 68px;
    margin-bottom: 17px;
    background-color: white;
    position: relative;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    padding-left: 3%;
    opacity: 0;
    animation: card-apparition 1s ease-in-out  both;
    @for $i from 1 through 10 {
        &--#{$i} {
            animation-delay: $apparition-delay * $i
        }
    }
    &__title {
        margin: 15px 0 5px 0;
        letter-spacing: 0.2px;
        font-size: 1.1rem;
        font-weight: 500;
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: width $animation-duration ease-in-out;
    }
    &__text {
        text-align: start;
        font-weight: 300;
        font-size: 1em;
        margin: 0;
        padding-bottom: 5px;
        width: 87%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: width $animation-duration ease-in-out;
    }   
    &__price {
        font-weight: bold;
        display: block;
        position: relative;
        font-size: 0.9em;
        height: 100%;
        right: 0;
        text-align: end;
        padding-top: 41px;
        padding-right: 20px;
        transform: translateX(0);
        transition: transform $animation-duration ease-in-out;
    }
    &__checked {
        background-color: $colour-tertiary;
        height: 100%;
        width: 60px;
        right: 0;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        transform: scaleX(0);
        transition: transform $animation-duration ease-in-out;
        transform-origin: 100% 50%;
        & i {
            color: white;
            font-size: 20px;
            transform: rotate(0deg);
            transition: transform 0.3s ease-in-out;
        }
    }
    &:hover, &:active {
        .menu {
            &__title {
                width: 80%;
            }
            &__text {
                width: 65%;
            }
            &__price {
                transform: translateX(-60px);
            }
            &__checked {
               transform: scaleX(1);
                & i {
                    transform: rotate(360deg);
                } 
           }

        }
    }
}
